  <header class="site-header">
    
    {% include logo.html %}

    <nav class="site-nav">
      <ul>
        <li>
          <a href="/">
            Αρχική
            <div class="border1"></div>
            <div class="border2"></div>
          </a>
        </li>
        <li>
          <a href="/arxeia">
            Αρχεία
            <div class="border1"></div>
            <div class="border2"></div>
          </a>
        </li>
        <li>
          <a href="/sxetika">
            Σχετικά
            <div class="border1"></div>
            <div class="border2"></div>
          </a>
        </li>
      </ul>
    </nav>
  </header>
