* {
	box-sizing: border-box;
}

@font-face {
  font-family: 'ClearSans';
  src: url('clear_sans/clearsans_regular_greek/ClearSans-Regular-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('clear_sans/clearsans_regular_greek/ClearSans-Regular-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
	background-color: $bg-color;
	font-family: 'ClearSans', Verdana, Arial, sans-serif;
	margin: 0 auto;
}

a {
	text-decoration: none;
	&.link:hover {
		text-decoration: underline;
	}
}

// ul {
// 	list-style: none;
// 	padding: 0;
// }

.a-left-line {
	height: 1px;
	background-color: white;
	margin: .3em 0;
	width: 50%;
	margin-left: -.3em;
	position: relative;
	overflow: hidden;

	.runner {
	  width: 30px;
	  background: black;
	  position: absolute;
	  height: 5px;
	  left: 0;
	  bottom: 0;
	  margin-left: -30px;
	  transition: all 2s ease-in;
	}

}

.a-right-line {
	border-bottom: 1px solid white;
	margin: .3em 0;
	margin-left: 50%;
	margin-right: -.3em;
}
.full-width {
	width: 100%;
}

.table-container {
	overflow: auto;
}